<!DOCTYPE html>
<html>
<head>
	<title>WebScraper</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid">
<!-- *** PAGE CONTENT START *** -->
{{{ body }}}
<!-- *** PAGE CONTENT END *** -->
</div>

</body>
</html>